doctype 5
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://facebook.com/2008/fbfml")
  head
    link(href="style.css", rel="stylesheet", media="screen")
    script(src="http://code.jquery.com/jquery-1.6.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="client.js")
  body
    #fb-root
    #container
      #main
        select#selectVideo
        #video
        .center STEVE JOBS TV GOES HERE LOLOLOLOL
      #side
        #login
          .center
            fb:login-button.element(autologoutlink="true", perms="user_about_me, friends_about_me, publish_stream")
        #chat
          #roomName TestRoomName
          #text
          #bottomBox
              form#send
                span  msg:
                  input#msg
  footer
    script(src="fb.js")
