doctype 5
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://facebook.com/2008/fbfml")
  head
    link(href="/main.css", rel="stylesheet", media="screen")
    script(src="http://code.jquery.com/jquery-1.6.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/client.js")
    script(src="jquery.cssemoticons.js")
    link(href="jquery.cssemoticons.css", media="screen", rel="stylesheet")
  body
    #fb-root
    #landing
      #landing-text Welcome to Flock
      fb:login-button.element(autologoutlink="true", perms="user_about_me, friends_about_me, publish_stream")
      button#testLogin TEST LOG IN
    #container
      #header
        span Flock.
      #main
        #content
          select#selectVideo
          #video
          div(style="clear: both;")
        #side         
          #roomName
          #text
          #bottomBox
            form#send
              input#msg
      #footer
         | Copyright &copy; 2011 Remzi's Entrepreneurs.<br />
         small just kidding Flock is probably already trademarked
  footer
    script(src="fb.js")
    script(src="video.js")	
