doctype 5
html(xmlns:fb="http://facebook.com/2008/fbfml")
  head
    meta(charset="utf-8")
    title Flock

    link(href="/main.css", rel="stylesheet", media="screen")
    link(href="jquery.cssemoticons.css", media="screen", rel="stylesheet")    

    script(src="http://code.jquery.com/jquery.min.js")
    script(src="http://code.jquery.com/ui/jquery-ui-git.js")
    script(src="/jquery.ba-bbq.min.js")
    script(src="/jquery.cssemoticons.js")
    
    script(src="/socket.io/socket.io.js")
    script(src="/client.js")

  body
    #fb-root

    #landing
      #landing-text Welcome to Flock
      fb:login-button.element(autologoutlink="true", perms="user_about_me, friends_about_me, publish_stream")
      button#testLogin TEST LOG IN

    #container
      #header
        a(href="/") Flock.
      #main
        #blanket
        #dialog
        #content
          #contentHeader
            select#selectVideo
          #contentBody
            #video
            #contentList
            div(style="clear: both;")
        #side
          #roomName
          #roomInfo
            #roomInfoX
                a(href="#") X
            #roomInfoText
          #text
          #bottomBox
            form#send
              input#msg
          #flockOptions
            button#migrate Migrate
      #footer
        Copyright &copy; 2011 Remzi's Entrepreneurs.
        
    script(src="fb.js")
    script(src="/video.js")	
   
  
