
html, body { height: 100%; overflow: hidden; }
html, body, div, span { margin: 0; padding: 0; }

body {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 0.8em;
    background-color: #e0e0e0;
}

/******** LANDING PAGE ********/

#landing {
    width: 500px;
    text-align: center;
    margin: 120px auto;
}

#landing-text {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 100px;
}

/******** MAIN PAGE ********/

#container {
    width: 100%; height: 100%;
    overflow: hidden;
    display: none;
    margin: 10px;
}

#header {
    height: 45px;
    font-size: 3em;
    font-weight:bold;
}

/**** VIDEO AREA STYLES ****/

#main {
    width: 100%; height: 100%;
    position: relative;
}

#content {
    border: 1px solid #aaa;
    background-color: #fff;
    padding: 10px;
    float: left;
    width: 68%;
}

#selectVideo {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.floatDiv {
    float:left;
}

/**** SIDE STYLES ****/

#side {
    width: 25%; height: 90%;
    float: left;
    background-color: #fff;
    border: 1px solid #aaa;
    margin-left: 10px;
    position: relative;
}

#roomName {
    width: 100%; height: 25px;
    padding-top: 9px;
    text-align: center;
    color: #ffffff;
    font-weight: bold; font-size: 1.1em;
    background-color: #aaa;
}

#text {
    width: 97%; height: 85%;
    overflow: auto;
    padding: 3px; 
    word-wrap: break-word;
    top: 35px;
    bottom: 31px;
    position: absolute;
}

#bottomBox {
    position: absolute;
    bottom: 5px; left: 5px; right: 7px;
}

input#msg {
    width: 100%;
    border: 1px solid #aaa;
    height: 20px;
}
