
html, body { height: 100%; overflow: hidden; }
html, body, div, span { margin: 0; padding: 0; }

body {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 0.8em;
    background-color: #e0e0e0;
}

/******** LANDING PAGE ********/

#landing {
    width: 500px;
    text-align: center;
    margin: 120px auto;
}

#landing-text {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 100px;
}

/******** MAIN PAGE ********/

#container {
    width: 100%; height: 100%;
    overflow: hidden;
    display: none;
    margin: 10px;
    position: relative;
}

#header a {
    height: 45px;
    font-size: 2em;
    font-weight:bold;
    color: #333;
    text-decoration: none;
}

#footer {
    position: absolute;
    bottom: 0px; left: 0px; right: 0px;
    height: 30px;
    text-align: center;
    z-index: 4;
}

/**** VIDEO AREA STYLES ****/

#main {
    position: absolute;
    left: 0px; right:   0px;
    top: 30px; bottom: 45px;
}

#content {
    border: 1px solid #888;
    background-color: #fff;
    padding: 10px;
    float: left;
    width: 68%;
    height: 95%;
    overflow: auto;
    position: relative;
}

#contentBody {
    height: 100%;
    width: 100%;
}

#blanket {
    background-color:#111;
    opacity: 0.65;
    *background:none;
    position:absolute;
    z-index: 1000;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    }

.ui-dialog-titlebar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #ccc;
}

.ui-dialog {
    border: 2px solid;
    border-radius: 15px;
    border-color: #000;
    text-align: center;
    background: #fff;
}

.ui-dialog-buttonset {
   text-align: center;
}

#dialog {
    height: 60px !important;
    position: relative;
}


/**** STREAM LIST STYLES ****/

#contentList {
    position: relative;
    top: 40px;
}

.contentListItem {
  clear: both;
  overflow: visible;
  margin: 0 3px;
  cursor: pointer;
  border-bottom: 1px solid #E6E6E6;
}

.contentListItem:nth-child(even) {
  background-color: #F6F6F6;
}

.contentListItem:hover {
  background: #F0F0F0;
}

.contentViewers {
  float: left;
  width: 95px;
  text-align: right;
  font-weight: normal;
  padding: 20px 0;
}

.contentViewersCount {
  font-size: 40px;
  color: #161616;
  letter-spacing: -1px;
  line-height: 38px;
}

.contentViewersLabel {
  font-size: 12px;
  text-transform: uppercase;
  color: #161616;
  margin-top: 2px;
  font-weight: bold;
}

.contentInformation {
  float: left;
  padding: 20px 0;
  width: 485px;
  margin-left: 20px;
  margin-right: 5px;
  overflow: hidden;
}

.contentTitle {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #161616;
}

.contentCategory {
  display: block;
  font-size: 13px;
  color: #454545;
}

#createRoomButton {
  margin-top: 35px;
}

.contentListItemClear {
  clear: both;
}

#selectVideo {
    display: block;
    width: 60%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

/**** VIDEO AREA STYLES ****/

#leave {
   float: right;
   height: 40px; width: 50px;
}

#video {
    position : absolute;
    height: 60%;
    width: 60%;
    padding-top: 5px;
}

#overlay {
    display: block;
    position: absolute;
    padding-top: 5px;
    z-index: 102;
    opacity: 0;
}

#secondaryVideo {
    height: 30%;
    width: 30%;
    padding: 40px 0px 0px 5px;
}

/**** SIDE STYLES ****/

#side {
    width: 25%; height: 100%;
    float: left;
    background-color: #fff;
    border: 1px solid #888;
    margin-left: 10px;
    position: relative;
}

#roomName {
    width: 100%; height: 25px;
    padding-top: 9px;
    text-align: center;
    color: #ffffff;
    font-weight: bold; font-size: 1.1em;
    background-color: #888;
    position: absolute;
}

#roomInfoX {
    text-align: right;
    width: 100%;
    margin-bottom: 10px;
}

#roomInfoX a {
    color: #888;
    font-size: 1.1em;
}

#rnNum {
    color: #fff;
}

#roomInfo {
    display: none;
    position: absolute;
    top: 40px; left: 5px; right: 5px;
    padding: 5px 5px;
    z-index: 101;
    background-color: #fff;
    border: 1px solid #888;
}

#text {
    position: absolute;
    width: 97%; top: 40px; bottom: 31px;
    overflow: auto;
    padding: 3px; 
    word-wrap: break-word;
}

#bottomBox {
    position: absolute;
    bottom: 5px; left: 5px; right: 7px;
}

input#msg {
    width: 100%;
    border: 1px solid #888;
    height: 20px;
}

.message {
    width: 99%;
}

.name { font-weight: bold; }

.hoverTxt {
  display:none;
  font-style: italic;
}

.troll {
  float: left;
  height: 12px;
  width: 12px;
  opacity: .5;
}

.troll:hover {
    cursor: pointer;
}

.marked.troll {
  opacity: 1.0;
  color: red;
}

.votes {
  float: right;
  margin-right: 4px;
}

.upvote {
  display: inline;
  float: right;
  background: #888;
  height: 15px;
  width: 15px;
  text-align: center;
  vertical-align: top;
}

.upvote.selected {
  background: green;
}
