#container {
  height: 96%;
  width: 98%;
  position: absolute;
}

#main {
  border: 1px solid black;
  width: 74.5%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
}

#side {
  border: 1px solid blue;
  width: 25%;
  height: 100%;
  float: right;
  position: relative;
  border-radius: 15px;
}

.center {
  text-align: center;
  margin: 0 auto;
  top: 50%;
  position: relative;
}

#chat { 
  height: 100%;
}

#text,
#login {
  width: 100%;
  border-radius: 15px;
  overflow: auto;
  word-wrap: break-word;
  position: absolute;
  top: 20px;
  bottom: 35px;
}

#bottomBox {
  bottom: 5px;
  left: 5px;
  position: absolute;
  width: 100%;
}

#roomName {
  height: 20px;
  position: absolute;
  width: 100%;
  font-size:0.875em; /* 14px/16=0.875em */
  text-align: center;
  color: white;
  background-color: blue;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
}

#selectVideo {
	width: 60%;
	position: relative;
	left: 20%;
}

input#msg {
  position: absolute;
  right: 10px;
  left: 30px;
  bottom: 0;
}

.floatDiv {
    float:left;
}
