body {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 0.8em;
}

#landing {
    margin-top: 200px;
    width: 500px;
    text-align: center;
    margin: 200px auto;
}

#landing div {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 100px;
}

#container {
    display: none;
    height: 96%;
    width: 98%;
    position: absolute;
}

#main {
    border: 1px solid black;
    width: 74.5%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
}

#side {
    border: 1px solid blue;
    width: 25%;
    height: 100%;
    float: right;
    position: relative;
    border-radius: 15px;
}

.center {
    text-align: center;
    margin: 0 auto;
    top: 50%;
    position: relative;
}

#chat { 
    height: 100%;
}

#text {
    width: 100%;
    border-radius: 15px;
    overflow: auto;
    position: absolute;
    word-wrap: break-word;
    top: 20px;
    bottom: 35px;
}

#text {
    position: absolute;
    width: 100%;
    border-radius: 15px;
    overflow: auto;
    word-wrap: break-word;
    top: 20px;
    bottom: 35px;
}

#bottomBox {
    bottom: 5px;
    left: 5px;
    position: absolute;
    width: 100%;
}

#roomName {
    height: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    background-color: blue;
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
}

#selectVideo {
	width: 60%;
	position: relative;
	left: 20%;
}

input#msg {
    position: absolute;
    right: 10px;
    left: 30px;
    bottom: 0;
}

.floatDiv {
    float:left;
}
