#container {
  border: 1px solid pink;
  height: 96%;
  width: 98%;
  position: absolute;
}

#main {
  border: 1px solid black;
  width: 73%;
  height: 100%;
  position: absolute;
}

#side {
  border: 1px solid blue;
  width: 25%;
  height: 100%;
  float: right;
}

.center {
  text-align: center;
  margin: 0 auto;
  top: 50%;
  position: relative;
}

#chat { 
  display: none; 
  height: 100%;
}

#text,
#login {
  height: 100%;
}

#bottomBox {
  bottom: 26px;
  position: relative;
  width: 100%;
}

#roomName {
  top: 0px;
  position: relative;
  width: 100%;
  font-size:0.875em; /* 14px/16=0.875em */
  text-align: center;
  color: white;
  background-color: blue;
}

input#msg {
  position: absolute;
  right: 10px;
  left: 30px;
  bottom: 0;
}
